In [64]:
import pandas as pd
import numpy as np
df=pd.read_excel("./data/1605.xlsx")

In [70]:
for i in df.index:
    if not(df.loc[i].isnull().values.any()):
        if((df.loc[i]['收盤價']-df.loc[i]['開盤價'])/df.loc[i]['開盤價']<-0.07):
            new_df += df.loc[i]

NameError: name 'new_df' is not defined

In [37]:
df.loc[0].isnull().values.any()

True

In [66]:
i=1
(df.loc[i]['收盤價']-df.loc[i]['開盤價'])/df.loc[i]['開盤價']<-0.1

False

In [78]:
print (df.index[((df['收盤價']-df['開盤價'])/df['開盤價'])<-0.07].tolist())

[277, 300, 816, 820, 1357, 1542, 1548, 3119, 4509, 4515, 4653, 4716, 4757]

In [91]:
a = [277, 300, 816, 820, 1357, 1542, 1548, 3119, 4509, 4515, 4653, 4716, 4757]

In [88]:
new_list = [x-1 for x in a]

In [89]:
new_list

[276, 299, 815, 819, 1356, 1541, 1547, 3118, 4508, 4514, 4652, 4715, 4756]

In [94]:
sorted(a+new_list)

[276,
 277,
 299,
 300,
 815,
 816,
 819,
 820,
 1356,
 1357,
 1541,
 1542,
 1547,
 1548,
 3118,
 3119,
 4508,
 4509,
 4514,
 4515,
 4652,
 4653,
 4715,
 4716,
 4756,
 4757]